In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

NOTA: HEchos los ejercicis de filtrado 3, 5, 7. Añadir en caso que la compañera no los haga.

# Pair programming Unión de Datos e Introducción a Limpieza
    # Ejercicios Unión de Datos
- Para realizar este pair programming deberéis usar el conjunto de datos de world-data-2023-part1.csv y el de world-data-2023-part2.csv.

- Tienes a tu disposición dos conjuntos de datos, "world-data-2023-part1.csv" y "world-data-2023-part2.csv", que contienen información de una serie de indicadores y datos de distintos países. Tu tarea es explorar estos conjuntos de datos y determinar qué tienen en común en términos de columnas y datos.

- Luego, debes crear un nuevo DataFrame que combine la información de ambos conjuntos de datos en un solo conjunto de datos. Para hacerlo, debes seleccionar el método de unión de Pandas que consideres más apropiado para esta situación y justificar por qué crees que ese método es el mejor en tu informe.

- Asegúrate de realizar los siguientes pasos:

1- Explora y carga ambos conjuntos de datos en pandas DataFrames.

In [2]:
df_world_1 = pd.read_csv("world-data-2023_part1.csv", index_col=0)

In [3]:
df_world_2 = pd.read_csv("world-data-2023_part2.csv", index_col=0)

In [4]:
df_world_1.head(3)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28

In [5]:
df_world_2.head(3)

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"

In [6]:
df_world_2.shape

(195, 19)

In [7]:
df_world_1.shape

(195, 16)

2- Identifica las columnas comunes entre los dos conjuntos de datos.

La columna común es Country

3- Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

In [8]:
merge_world = df_world_1.merge(df_world_2, left_on = "Country", right_on= "country")
merge_world

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

In [9]:
# hacemos drop column porqué hay una columna repetida

merge_world = merge_world.drop(columns= ["country"])
merge_world

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

4- Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

Hemos hecho un merge, donde df_world1 cogía los datos de la izquierda. Hemos escogido este método porque une a través de columnas con los mismos valores . En este caso, las columnas se escribian diferte (una empieza por mayúscula y la otra no). Por eso hemos indicado el nombre de las columnas en left_on y right_on. 

También podríamos haber cambiado el nombre para que se llamaran igual y hacer un join. 

Después de unir las columnas hemos eliminado la duplicidad de columnas, que se llamaban igual.

____

    # Ejercicios de Limpieza
1- Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

_Hecho en el paso anterior_

2 - Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:
- No tengan espacios.
- Estén en minúscula.
- No tengan paréntesis, es decir, quitar "(%)", "(Km2)".
- Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.
- Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [10]:
columnas_sucias = merge_world.columns
columnas_sucias

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population',
       'coordinates'],
      dtype='object')

In [11]:
columnas_limpias =columnas_sucias.str.lower().str.replace(" ", "").str.replace("\([^)]*\)","",regex=True).str.replace("\n","").str.replace(":","")
columnas_limpias

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'coordinates'],
      dtype='object')

In [12]:
merge_world.columns = columnas_limpias
merge_world

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

3 - La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [13]:
merge_world[["longitud","latitud"]] = merge_world["coordinates"].str.split(",",expand = True).get([0,1])

# También quitamos las comillas simples y paréntesis de las columnas longitud y latitud
merge_world["longitud"] = merge_world["longitud"].str.replace("'", "").str.replace("(", "")
merge_world["latitud"] = merge_world["latitud"].str.replace("'", "").str.replace(")", "")
merge_world.drop(labels ="coordinates",axis=1, inplace=True)

In [14]:
merge_world

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,longitud,latitud
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",6.42375,-66.58973
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",-19.015438,29.154857

_______

4 - Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [15]:
columnas_ejercicio4 = ["unemploymentrate", "totaltaxrate", "taxrevenue", "populationlaborforceparticipation", "outofpockethealthexpenditure", "grosstertiaryeducationenrollment", "grossprimaryeducationenrollment", "forestedarea", "cpichange", "agriculturalland"]

for columna in columnas_ejercicio4:
    merge_world[columna] = merge_world[columna].str.replace("%","")

merge_world

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,longitud,latitud
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,$0.70,"$19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,$1.36,"$15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,$0.28,"$169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,$1.51,"$3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,$0.97,"$94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90,VED,2.27,52.70,$0.00,"$482,359,318,768",97.20,79.30,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80,1.92,"28,515,829",59.70,NaN,73.30,8.80,"25,162,368",6.42375,-66.58973
191,Vietnam,314,VN,39.30,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80,VND,2.05,48.10,$0.80,"$261,921,244,843",110.60,28.50,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50,0.82,"96,462,106",77.40,19.10,37.60,2.01,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10,YER,3.79,1.00,$0.92,"$26,914,402,224",93.60,10.20,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20,ZMW,4.63,65.20,$1.40,"$23,064,722,446",98.70,4.10,40.4,Lusaka,63.5,213.0,$0.24,English,27.50,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90,NaN,3.62,35.50,$1.34,"$21,440,758,800",109.90,10.00,33.9,Harare,61.2,458.0,NaN,Shona,25.80,0.21,"14,645,468",83.10,20.70,31.60,4.95,"4,717,305",-19.015438,29.154857

5 - Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

In [16]:
columnas_ejercicio5 = ["gasolineprice", "gdp", "minimumwage"]

for columna in columnas_ejercicio5:
    merge_world[columna] = merge_world[columna].str.replace("$","")

merge_world

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,longitud,latitud
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,1.36,"15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,0.28,"169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,1.51,"3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,0.97,"94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90,VED,2.27,52.70,0.00,"482,359,318,768",97.20,79.30,21.4,Caracas,72.1,125.0,0.01,Spanish,45.80,1.92,"28,515,829",59.70,NaN,73.30,8.80,"25,162,368",6.42375,-66.58973
191,Vietnam,314,VN,39.30,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80,VND,2.05,48.10,0.80,"261,921,244,843",110.60,28.50,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.50,0.82,"96,462,106",77.40,19.10,37.60,2.01,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10,YER,3.79,1.00,0.92,"26,914,402,224",93.60,10.20,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20,ZMW,4.63,65.20,1.40,"23,064,722,446",98.70,4.10,40.4,Lusaka,63.5,213.0,0.24,English,27.50,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90,NaN,3.62,35.50,1.34,"21,440,758,800",109.90,10.00,33.9,Harare,61.2,458.0,NaN,Shona,25.80,0.21,"14,645,468",83.10,20.70,31.60,4.95,"4,717,305",-19.015438,29.154857

In [17]:
merge_world.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   country                            195 non-null    object
 1   density                            195 non-null    object
 2   abbreviation                       188 non-null    object
 3   agriculturalland                   188 non-null    object
 4   landarea                           194 non-null    object
 5   armedforcessize                    171 non-null    object
 6   birthrate                          189 non-null    float64
 7   callingcode                        194 non-null    float64
 8   capital/majorcity                  192 non-null    object
 9   co2-emissions                      188 non-null    object
 10  cpi                                178 non-null    object
 11  cpichange                          179 non-null    object
 12  currency-code                      180 non-null    object
 13  fertilityrate                      188 non-null    float64
 14  forestedarea                       188 non-null    object
 15  gasolineprice                      175 non-null    object
 16  gdp                                193 non-null    object
 17  grossprimaryeducationenrollment    188 non-null    object
 18  grosstertiaryeducationenrollment   183 non-null    object
 19  infantmortality                    189 non-null    float64
 20  largestcity                        189 non-null    object
 21  lifeexpectancy                     187 non-null    float64
 22  maternalmortalityratio             181 non-null    float64
 23  minimumwage                        150 non-null    object
 24  officiallanguage                   190 non-null    object
 25  outofpockethealthexpenditure       188 non-null    object
 26  physiciansperthousand              188 non-null    float64
 27  population                         194 non-null    object
 28  populationlaborforceparticipation  176 non-null    object
 29  taxrevenue                         169 non-null    object
 30  totaltaxrate                       183 non-null    object
 31  unemploymentrate                   176 non-null    object
 32  urban_population                   190 non-null    object
 33  longitud                           195 non-null    object
 34  latitud                            195 non-null    object
dtypes: float64(7), object(28)
memory usage: 53.4+ KB

6 - Guarda el DataFrame para usarlo en el pairprogramming de mañana.

In [18]:
merge_world.to_csv("merge_world.csv",index = False)

___

    # Ejercicios de Filtrado
1 - Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

In [19]:
# convertimos la columna a float
merge_world["density"] = merge_world["density"].str.replace(",",".").astype(str).astype(float)

In [20]:
condicion_1 = merge_world.loc[(merge_world["density"]>= 40)&(merge_world["density"]<= 50)]
print (condicion_1)

                              country  density abbreviation agriculturalland  \
15                            Belarus     47.0           BY            42.00
37                           Colombia     46.0           CO            40.30
45   Democratic Republic of the Congo     40.0           CD            11.60
47                           Djibouti     43.0           DJ            73.40
53                  Equatorial Guinea     50.0           GQ            10.10
58                               Fiji     49.0           FJ            23.30
99                          Lithuania     43.0           LT            47.20
101                        Madagascar     48.0           MG            71.20
115                        Montenegro     47.0           ME            19.00
117                        Mozambique     40.0           MZ            63.50
161                      South Africa     49.0           ZA            79.80

      landarea armedforcessize  birthrate  callingcode capital/majorcity  \
15     207,600         155,000       9.90        375.0             Minsk
37   1,138,910         481,000      14.88         57.0            Bogot�
45   2,344,858         134,000      41.18        243.0          Kinshasa
47      23,200          13,000      21.47        253.0     Djibouti City
53      28,051           1,000      33.24        240.0            Malabo
58      18,274           4,000      21.28        679.0              Suva
99      65,300          34,000      10.00        370.0           Vilnius
101    587,041          22,000      32.66        261.0      Antananarivo
115     13,812          12,000      11.73        382.0         Podgorica
117    799,380          11,000      37.52        258.0            Maputo
161  1,219,090          80,000      20.51         27.0          Pretoria

    co2-emissions     cpi cpichange currency-code  fertilityrate forestedarea  \
15         58,280     NaN      5.60           BYN           1.45        42.60
37         97,814  140.95      3.50           COP           1.81        52.70
45          2,021  133.85      2.90           CDF           5.92        67.20
47            620  120.25      3.30           DJF           2.73         0.20
53          5,655  124.35      1.20           XAF           4.51        55.50
58          2,046   132.3      1.80           FJD           2.77        55.90
99         12,963  118.38      2.30           EUR           1.63        34.80
101         3,905  184.33      5.60           MGA           4.08        21.40
115         2,017  116.32      2.60           EUR           1.75        61.50
117         7,943  182.31      2.80           MZN           4.85        48.00
161       476,644  158.93      4.10           ZAR           2.41         7.60

    gasolineprice               gdp grossprimaryeducationenrollment  \
15          0.60    63,080,457,023                           100.50
37          0.68   323,802,808,108                           114.50
45          1.49    47,319,624,204                           108.00
47          1.32     3,318,716,359                            75.30
53            NaN   11,026,774,945                            61.80
58          0.82     5,535,548,972                           106.40
99          1.16    54,219,315,600                           103.90
101         1.11    14,083,906,357                           142.50
115         1.16     5,494,736,901                           100.00
117         0.65    14,934,159,926                           112.60
161         0.92   351,431,649,241                           100.90

    grosstertiaryeducationenrollment  infantmortality    largestcity  \
15                             87.40              2.6          Minsk
37                             55.30             12.2         Bogot�
45                              6.60             68.2       Kinshasa
47                              5.30             49.8  Djibouti City
53                              1.90             62.6         Malabo
58                             16.10             21.6           Suva
99                             72.40              3.3        Vilnius
101                             5.40             38.2   Antananarivo
115                            56.10              2.3      Podgorica
117                             7.30             54.0         Maputo
161                            22.40             28.5   Johannesburg

     lifeexpectancy  maternalmortalityratio minimumwage      officiallanguage  \
15             74.2                     2.0       1.49                Russian
37             77.1                    83.0       1.23                Spanish
45             60.4                   473.0       0.18                 French
47             66.6                   248.0         NaN                French
53             58.4                   301.0       1.05                Spanish
58             67.3                    34.0       1.28             Fiji Hindi
99             75.7                     8.0       2.41             Lithuanian
101            66.7                   335.0       0.21                 French
115            76.8                     6.0       1.23   Montenegrin language
117            60.2                   289.0       0.27             Portuguese
161            63.9                   119.0         NaN             Afrikaans

    outofpockethealthexpenditure  physiciansperthousand  population  \
15                         34.50                   5.19   9,466,856
37                         18.30                   2.18  50,339,443
45                         37.40                   0.07  86,790,567
47                         20.40                   0.22     973,560
53                         72.00                   0.40   1,355,986
58                         21.40                   0.84     889,953
99                         32.10                   6.35   2,786,844
101                        21.70                   0.18  26,969,307
115                        31.80                   2.76     622,137
117                         6.80                   0.08  30,366,036
161                         7.70                   0.91  58,558,270

    populationlaborforceparticipation taxrevenue totaltaxrate  \
15                              64.10      14.70        53.30
37                              68.80      14.40        71.20
45                              63.50      10.70        50.70
47                              60.20        NaN        37.90
53                              62.00       6.10        79.40
58                              57.60      24.20        32.10
99                              61.60      16.90        42.60
101                             86.10      10.20        38.30
115                             54.40        NaN        22.20
117                             78.10       0.00        36.10
161                             56.00      27.50        29.20

    unemploymentrate urban_population     longitud      latitud
15              4.59        7,482,982   53.709807     27.953389
37              9.71       40,827,302    4.570868    -74.297333
45              4.24       39,095,679   -4.038333     21.758664
47             10.30          758,549   11.825138     42.590275
53              6.43          984,812    1.650801     10.267895
58              4.10          505,048  -17.713371    178.065032
99              6.35        1,891,013   55.169438     23.881275
101             1.76       10,210,849  -18.766947     46.869107
115            14.88          417,765   42.708678      19.37439
117             3.24       11,092,106  -18.665695     35.529562
161            28.18       39,149,717  -30.559482     22.937506

In [21]:
condicion_1_mortalidad_infan = condicion_1[["country","infantmortality"]]
condicion_1_mortalidad_infan

# Entendemos que se piden la mortalidad infantil de los paises que tienen una densidad entre 40 y 50 km2

                              country  infantmortality
15                            Belarus              2.6
37                           Colombia             12.2
45   Democratic Republic of the Congo             68.2
47                           Djibouti             49.8
53                  Equatorial Guinea             62.6
58                               Fiji             21.6
99                          Lithuania              3.3
101                        Madagascar             38.2
115                        Montenegro              2.3
117                        Mozambique             54.0
161                      South Africa             28.5

2- Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

In [22]:
merge_world.columns
#vemos que las columnas que nos interesan son: "birthrate" y "lifeexpectancy" y "country"

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'longitud', 'latitud'],
      dtype='object')

In [23]:
# merge_world.loc[(merge_world["density"]>= 40)&(merge_world["density"]<= 50)]

#1 - Establecemos la condición:

condicion_2 = (merge_world["birthrate"] >= 20) & (merge_world["lifeexpectancy"] >= 75)
# 2- Aplicamos al condición, filtrando  por país

df_condicion_2 = merge_world.loc[condicion_2, ("country")]

# pasamos la serie a DF para que sea más legible:
df_condicion_2 = pd.DataFrame(df_condicion_2)
df_condicion_2

     country
2    Algeria
74  Honduras
82    Israel

3 - Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

In [24]:
# 'capital/majorcity'

# 'country' 

# condición "la"

condicion_3 = "la"

paises_con_la = (merge_world['country'].str.lower().str.contains(condicion_3))
paises_con_la

0      False
1      False
2      False
3      False
4       True
       ...
190     True
191    False
192    False
193    False
194    False
Name: country, Length: 195, dtype: bool

In [25]:
# Supongamos que tu DataFrame tiene una columna llamada "city" y otra llamada "country"
palabra_a_buscar = "la"
paises_con_la = merge_world['country'].str.lower().str.contains(palabra_a_buscar.lower())

In [26]:
# Filtrar el DataFrame utilizando la condición
ciudades = merge_world.loc[paises_con_la ,['capital/majorcity', 'country']]
ciudades

    capital/majorcity              country
4              Luanda               Angola
13              Dhaka           Bangladesh
15              Minsk              Belarus
59           Helsinki              Finland
68     Guatemala City            Guatemala
76          Reykjav��              Iceland
81             Dublin  Republic of Ireland
92          Vientiane                 Laos
93               Riga               Latvia
102          Lilongwe               Malawi
103      Kuala Lumpur             Malaysia
107            Majuro     Marshall Islands
122         Amsterdam          Netherlands
123        Wellington          New Zealand
132         Ngerulmud                Palau
139            Warsaw               Poland
159           Honiara      Solomon Islands
165           Colombo            Sri Lanka
169              Bern          Switzerland
173           Bangkok             Thailand
190           Caracas            Venezuela

4 - Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

In [27]:
# physiciansperthousand

# 1 - definimos la condición
condicion_4 = (merge_world["physiciansperthousand"])>5
# 2 - aplicamos la condición, filtrando por paises
df_condicion_4 = merge_world.loc[condicion_4, ("country")]

# el resultado es una Serie. La convertimos a DF para que sea más legible:

df_condicion_4 = pd.DataFrame(df_condicion_4)
df_condicion_4

        country
9       Austria
15      Belarus
42         Cuba
63      Georgia
66       Greece
99    Lithuania
113      Monaco
140    Portugal
149  San Marino
187     Uruguay

5 - Encuentra los países cuya tasa de fertilidad sea mayor a 6.

In [28]:
# 'fertilityrate'

condicion_5 = (merge_world['fertilityrate']>6)

df_condicion_5 = merge_world.loc[condicion_5, ("country", "fertilityrate")]
df_condicion_5

     country  fertilityrate
125    Niger           6.91
160  Somalia           6.07

6 - Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

In [29]:
#currency-code
# birthrate -> hacer promedio y coger las que son superior

In [30]:
merge_world.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,longitud,latitud
0,Afghanistan,60.0,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",33.93911,67.709953
1,Albania,105.0,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,1.36,"15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18.0,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,0.28,"169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164.0,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,1.51,"3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26.0,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,0.97,"94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",-11.202692,17.873887

In [31]:
condicion_6 = (merge_world["birthrate"] > merge_world["birthrate"].mean()) & (merge_world["currency-code"] == "EUR")
df_condicion_6 = merge_world.loc[condicion_6, "country"]
df_condicion_6 = pd.DataFrame(df_condicion_6)
df_condicion_6 

#nota: no salen datos, por lo que no hay paises que cumplan esta condición.

Empty DataFrame
Columns: [country]
Index: []

7 - Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.

In [32]:
condicion_7 = (merge_world['infantmortality'] >70)
df_condicion_7 = merge_world.loc[condicion_7, ["country", 'infantmortality']]
df_condicion_7 = pd.DataFrame(df_condicion_7)
df_condicion_7

                      country  infantmortality
33   Central African Republic             84.5
34                       Chad             71.4
126                   Nigeria             75.7
155              Sierra Leone             78.5
160                   Somalia             76.6